.scroll {
    height: 400px;
    overflow: scroll; 
    width: 90%; 
    margin: auto;
    display: flex;
    justify-content: flex-end;
     flex-direction: column;
}

.fighter {
    width: 50%;
}

.health-display {
    font-size: x-large;
    padding: 5px;
}
#health {
    width: 100%;
    
}
.container, .button {
    font-family: 'Rowdies', cursive !important;
}
