.scroll {
    height: 400px;
    overflow: scroll; 
    width: 90%; 
    margin: auto;
    display: flex;
    justify-content: flex-end;
     flex-direction: column;
}

.fighter {
    width: 50%;
}


#health {
    width: 100%;
    
}