.scroll {
    height: 450px;
    overflow: scroll; 
    width: 90%; 
    margin: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
}

.scroll > div:last-child {
    scroll-snap-align: start;
}

.fighter {
    width: 50%;
}

.log {
    width:100%;
}


#health {
    width: 100%;
    
}
.container, .button {
    font-family: 'Rowdies', cursive !important;
}
