.header {
  background-color: orange;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.username {
  font-size: 1rem;
  color: black;
  margin: .5rem;
}

.logout-button button {
  margin: .5rem;

}

h1.title {
  font-size: 2rem;
  color: black;
  font-family: 'Bungee Shade', cursive;
}

.cont1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cont2 {
  display: flex;
  font-size: 2rem !important;
}

.cont3 {
  display: inline-flex;
  align-items: center;
}

#userHello {
  font-size: 0px;
}

.intro {
  background-color: orange !important;
}

.button.is-warning {
  font-size: 25px;
}
